{% extends 'app/basetemplate.html' %}

{% block title %}フィルタリング{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4 text-primary">会社フィルタリング</h1>

    <form method="get" action="{% url 'filter_companies' %}" class="form">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="employee_count_min">社員数（以上）:</label>
                <input type="number" id="employee_count_min" name="employee_count_min" class="form-control" value="{{ request.GET.employee_count_min }}">
            </div>
            <div class="form-group col-md-4">
                <label for="overtime_max">平均残業時間（以下）:</label>
                <input type="number" id="overtime_max" name="overtime_max" class="form-control" value="{{ request.GET.overtime_max }}">
            </div>
            <div class="form-group col-md-4">
                <label for="salary_min">給料（以上）:</label>
                <input type="number" id="salary_min" name="salary_min" class="form-control" value="{{ request.GET.salary_min }}">
            </div>
        </div>

        <div class="form-group">
            <label for="place_of_work">事業場所:</label>
            <select id="place_of_work" name="place_of_work" class="form-control" multiple>
                <option value="">選択しない</option>
                {% for place in Place_Of_Work_choices %}
                    <option value="{{ place.id }}" {% if place.id|stringformat:"s" in request.GET.place_of_work %}selected{% endif %}>{{ place.place }}</option>
                {% empty %}
                    <option value="">事業場所がありません</option>
                {% endfor %}
            </select>
        </div>
        
        
        

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="engineering_field">エンジニア領域:</label>
                <select id="engineering_field" name="engineering_field" class="form-control">
                    <option value="">選択しない</option>
                    {% for value, label in Engineering_Field_choices %}
                        <option value="{{ value }}" {% if value == request.GET.engineering_field %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="programming_language">使用言語:</label>
                <select id="programming_language" name="programming_language" class="form-control">
                    <option value="">選択しない</option>
                    {% for value, label in Programming_Language_choices %}
                        <option value="{{ value }}" {% if value == request.GET.programming_language %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="training">研修制度:</label>
                <select id="training" name="training" class="form-control">
                    <option value="">選択しない</option>
                    {% for value, label in Training_choices %}
                        <option value="{{ value }}" {% if value == request.GET.training %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="growth_environment">成長環境:</label>
                <select id="growth_environment" name="growth_environment" class="form-control">
                    <option value="">選択しない</option>
                    {% for value, label in Growth_Environment_choices %}
                        <option value="{{ value }}" {% if value == request.GET.growth_environment %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="ways_of_working">働き方:</label>
            <select id="ways_of_working" name="ways_of_working" class="form-control">
                <option value="">選択しない</option>
                {% for value, label in Ways_Of_Working_choices %}
                    <option value="{{ value }}" {% if value == request.GET.ways_of_working %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block mt-4">フィルタ</button>
    </form>

    <h2 class="mt-5">フィルタ結果</h2>
    <ul class="list-group">
        {% for company in companies %}
            <li class="list-group-item">
                <a href="{% url 'company_detail' company.pk %}" class="text-dark font-weight-bold">{{ company.name }}</a>
                <p>社員数: {{ company.employee_count }}人 | 会社URL: <a href="{{ company.url }}" target="_blank" class="btn btn-outline-primary btn-sm">{{ company.url }}</a></p>
                <p>基本給料: <span class="salary">{{ company.salary }}</span>円 | 事業場所:
                    {% for place in company.place_of_work.all %}
                        {{ place }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        事業場所が設定されていません
                    {% endfor %}
                </p>
                <p>勤務時間: {{ company.working_hours }} | 平均残業時間: {{ company.overtime }}時間</p>
                <p>強み: {{ company.advantage }}</p>
                <p>弱み: {{ company.weaknesses }}</p>
                {% load custom_filters %}
                {% if user_preferences|get_item:company.id %}
                    <p>志望選択: 第{{ user_preferences|get_item:company.id }}志望</p>
                {% else %}
                    <p>志望選択: 未選択</p>
                {% endif %}

                <!-- お気に入りボタン -->

                <div>
                    {% if user|is_favorite:company %}
                        <span>お気に入り登録済み</span>
                    {% else %}
                        <span>お気に入りではありません</span>
                    {% endif %}
                </div>
                <a href="{% url 'company_detail' company.pk %}" class="btn btn-primary btn-sm">詳細</a>

            </li>
        {% empty %}
            <li class="list-group-item">結果がありません</li>
        {% endfor %}
    </ul>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // 三桁区切りの関数
        function formatNumber(number) {
            return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
        }

        // すべての基本給の要素を取得
        var salaryElements = document.querySelectorAll('.salary');

        // 各要素の内容をフォーマット
        salaryElements.forEach(function (element) {
            var salary = parseInt(element.textContent.replace(/,/g, '')); // 現在の内容からカンマを除去
            if (!isNaN(salary)) {
                element.textContent = formatNumber(salary); // フォーマットして再設定
            }
        });
    });
</script>

{% endblock %}
