{% extends 'app/basetemplate.html' %}

{% block title %}検索{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4 text-primary">会社検索</h1>
    <form method="get" action="{% url 'search_company' %}" class="form-inline mb-4">
        <div class="form-group mb-2 mr-2">
            <input type="text" name="q" class="form-control form-control-lg" value="{{ query }}" placeholder="会社名で検索">
        </div>
        <button type="submit" class="btn btn-primary btn-lg mb-2">検索</button>
    </form>
    
    <h2 class="mb-4">検索結果</h2>
    <ul class="list-group">
        {% for company in companies %}
            <li class="list-group-item">
                <a href="{% url 'company_detail' company.pk %}" class="text-dark font-weight-bold">{{ company.name }}</a>
            </li>
        {% empty %}
            <li class="list-group-item">結果がありません</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
